body{
    background-image: url(/img/pxfuel.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#logo1{
    display: flex;
    width: 7vw;
    position: relative;
    
}    
.calculadora{
    display:block;
    margin:auto;
    padding:20px;
    background-color:#0D1B41;
    width:30vw;
    height:70vh;
    border-radius: 3rem;
  }
  .calculadora td button{
    display:block;
    width:70px;
    height: 70px;
    font-size: 25px;
  }
  #creditos{
    display:flex;
    padding-top:20px;
    color:#fff;
    text-align: center;
    position: relative;
    justify-content: center;
    align-items: center;
    width:300px;
  }
  #resultado{
    display:block;
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    width:300px;
    height: 100px;
    line-height: 100px;
    background-color:#fff;
    border-radius: 25px;
    overflow-y: scroll;
  }

  @media screen {
    
  }