*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
    background-image: url(../img/pxfuel\ \(white\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    place-items:center;
}
body.dark {
  background-image: url(../img/pxfuel.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  place-items:center;
}
#logo1{
    display: flex;
    width: 7vw;
    position: relative;
}    
.calculadora{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap: .5rem;
    padding:2vh 2vw;
    background-color:#0D1B41;
    width:26vw;
    height:72vh;
    border-radius: 3rem;
    color:white;
  }
  #pantalla{
    grid-column: 1 / -1;
    text-align: right;
    padding: 1.5rem;
    font-size: 2rem;
    line-height: 100px;
    background-color:#163077;
    border-radius: 1.5rem;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
  }
  .valor-superior{
    color:white;
    font-size: 1.2rem;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .valor-inferior {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  input {
    position: absolute;
    display: none;
  }
  label {
    align-items: center;
    background: url('https://i.ibb.co/TRxkxgk/Imagen-d-a.gif');
    background-position: bottom;
    background-size: cover;
    border-radius: 35px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    cursor: pointer;
    display: flex;
    height: 5vh;
    position: relative;
    width: 110px;
  }
  
  #toggle-button:checked + label {
    background: url('https://i.ibb.co/vssyhHv/imagen-noche.gif');
    background-position: center;
    background-size: cover;
  }
  
  label .sun-moon {
    background: radial-gradient(#c3c82c3f, transparent);
    border-radius: 50%;
    height: 30px;
    margin: 4px;
    transition: transform 0.3s ease;
    width: 30px;
  }
  
  #toggle-button:checked + label .sun-moon {
    background: radial-gradient(#2937ff5b, transparent);
    transform: translateX(72px);
  }
  
  .sun-moon, #toggle-button{
    grid-column: 1 / -1;
  }
  .btn{
    background-color:#0D1B41;
    color:wheat;
    width:4rem;
    height: auto;
    font-size: 2rem;
    border-radius: 3rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .btn:hover{
    background-color:#163077;
  }
  #igual{
    grid-row: span 2;
  }
  footer{
    color: #fff;
  }
  #creditos{
    display:flex;
    padding-top:20px;
    color:#fff;
    text-align: center;
    position: relative;
    justify-content: center;
    align-items: center;
    width:300px;
  }
  @media screen and (min-width:0px) and (max-width: 640px) {
    body{
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      padding: 20px 20px;
  }
    .calculadora{
      display:grid;
      grid-template-columns:repeat(4,1fr);
      gap: .2rem;
      padding:2vh 2vw;
      background-color:#0D1B41;
      width:60vw;
      height:72vh;
      border-radius: 3rem;
      color:white;
    }
    #pantalla{
      grid-column: 1 / -1;
      text-align: right;
      padding: 1.5rem;
      font-size: 2rem;
      line-height: 100px;
      background-color:#163077;
      border-radius: 1.5rem;
      font-family:Arial, Helvetica, sans-serif;
      font-weight: 600;
    }
    .valor-superior{
      color:white;
      font-size: 1.2rem;
      height: 5vh;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    .valor-inferior {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    label {
      border-radius: 35px;
      height: 4vh;
      top:2vh;
      width: 25vw;
    }
    
    
    label .sun-moon {
      border-radius: 40%;
      height: 30px;
      margin: 4px;
      width: 30px;
    }
    
    #toggle-button:checked + label .sun-moon {
      transform: translateX(62px);
    }
    .btn{
      background-color:#0D1B41;
      color:wheat;
      width: 13vw;
      height: auto;
      font-size: 1rem;
      border-radius: 2rem;
    }
  }
  @media screen and (min-width:641px) and (max-width: 1080px) {
    body{
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      padding: 20px 20px;
  }
    .calculadora{
      gap: .2rem;
      width:40vw;
      height:82vh;
      border-radius: 2rem;
    }
    #pantalla{
      padding: 1.5rem;
      font-size: 0.8rem;
      line-height: 80px;
      border-radius: 1.5rem;
      font-weight: 500;
    }
    .valor-superior{
      font-size: 1.2rem;
      height: 3vh;
    }
    .valor-inferior {
      height: 4vh;
    }
    label {
      border-radius: 35px;
      height: 7vh;
      top:0vh;
      width: 10vw;
    }
    
    label .sun-moon {
      border-radius: 40%;
      height: 30px;
      margin: 4px;
      width: 30px;
    }
    
    #toggle-button:checked + label .sun-moon {
      transform: translateX(50px);
    }
    .btn{
      width: 8vw;
      height: auto;
      font-size: 0.8rem;
      border-radius: 40%;
    }
  }